In [18]:
# Import library and dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from fbprophet import Prophet
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings('ignore')

import pickle

In [19]:
raw = pd.read_csv('dss_mock_1.csv')

In [20]:
raw.describe()

,date,food_1,food_2,food_3,food_4,is_holiday
count,1.000000e+03,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.571316e+09,587.6090,343.696000,331.703000,226.048000,0.188000
std,2.286453e+06,24.6876,18.659415,19.067731,15.228053,0.390908
min,1.567297e+09,496.0000,293.000000,277.000000,181.000000,0.000000
25%,1.569300e+09,571.0000,331.000000,319.000000,216.000000,0.000000
50%,1.571338e+09,588.0000,344.000000,332.000000,226.000000,0.000000
75%,1.573352e+09,604.0000,356.000000,344.000000,236.000000,0.000000
max,1.575155e+09,672.0000,401.000000,396.000000,275.000000,1.000000

In [21]:
# cleaning dataset
# convert 'epoch' date into appropriate datetime
from datetime import datetime
tf = raw.copy()
tf['date_conv'] = raw['date'].apply(lambda x : datetime.fromtimestamp(x).strftime("%Y-%m-%d"))

In [22]:
tf.drop(['date','is_holiday'], axis=1, inplace=True)

In [23]:
tf['date_conv'] = pd.DatetimeIndex(tf['date_conv'])
tf = tf.sort_values(by='date_conv').reset_index(drop=True)

In [24]:
tf.dtypes

food_1                int64
food_2                int64
food_3                int64
food_4                int64
date_conv    datetime64[ns]
dtype: object

In [25]:
tf.tail()

     food_1  food_2  food_3  food_4  date_conv
995     600     346     329     202 2019-11-30
996     570     357     362     231 2019-11-30
997     583     355     305     216 2019-12-01
998     570     350     333     218 2019-12-01
999     565     335     312     235 2019-12-01

In [26]:
cols = list(tf.columns.values)
cols.remove('date_conv')

In [36]:
###############################################################################

In [27]:
# Model fit
for col in cols:
    subtf = tf[['date_conv',col]]
    subtf = subtf.rename(columns={'date_conv':'ds',col:'y'})
    model = Prophet(interval_width=0.95)
    model.fit(subtf)
    pickle.dump(model, open('model'+'_'+col+'.pickle','wb'))

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [30]:
# Model predict
results = []
for col in cols:
    model = pickle.load(open('model'+'_'+col+'.pickle', 'rb'))
    f_df = model.make_future_dataframe(periods=7, freq='D')
    result = model.predict(f_df)
    result_tf = result[['ds','yhat']].rename(columns={'yhat':col})
    results.append(result_tf)
tf.predict = pd.concat(results, axis=1)

In [31]:
# Cleaning predict table
tf.predict = tf.predict.iloc[:,  ~tf.predict.columns.duplicated()]
tf.predict.drop_duplicates(subset='ds', keep="first", inplace=True)

In [32]:
tf.predict = tf.predict.reset_index(drop=True).rename(columns={'ds':'date'})

In [33]:
tf.predict.head()

        date      food_1      food_2      food_3      food_4
0 2019-09-01  585.335776  344.277025  331.080837  227.395558
1 2019-09-02  589.249772  346.278925  331.425733  227.874056
2 2019-09-03  586.431597  347.116864  333.670562  228.991185
3 2019-09-04  586.688747  345.046687  334.757494  230.079396
4 2019-09-05  590.575680  345.509221  331.748964  227.484589

In [34]:
tf_revised = tf.predict[(tf.predict['date']>'2019-12-01')].reset_index(drop=True)

In [35]:
tf_revised

        date      food_1      food_2      food_3      food_4
0 2019-12-02  587.406436  343.719539  326.871273  224.092561
1 2019-12-03  584.361977  344.557958  329.037264  225.194545
2 2019-12-04  584.392843  342.488260  330.045358  226.267611
3 2019-12-05  588.053492  342.950819  326.957989  223.657659
4 2019-12-06  580.254944  341.083812  328.961963  223.115738
5 2019-12-07  579.914265  340.001969  331.335161  225.297214
6 2019-12-08  582.672191  341.520485  325.850804  222.747021